
.searchbar {
    margin-left: 250px;
    width: 78%;
    padding: 10px;
    
}

.search, .frm {
    width: 95%;
    height: 40px;
    display: flex;
    padding: 5px ;
    
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-bottom: 10px;
    
    flex-direction: row;
    justify-content: space-between;
  }

  .search h5 { 
    font-weight: 50;
    height: 12px;
    width: 200px;
    font-size: 12px;
    padding: 10px 5px;
    border: 1px solid rgba(0, 0, 0, 0.242);
    border-radius: 5px;
    margin-top: 10px;
    margin: 4px 15px;
  }

  .search p {
    margin-top: 12px;
    margin-right: 15px;
  }
  
  .image {
    background-image: url('../images/img3.jpg');
    background-size: cover;
    width: 98%;
    height: 150px;

    border-radius: 10px;
  }

  .frm {
    width: 93%;
    margin-left: 20px;
    margin-top: -15px;
  }
  
  select {
    border: none;
    width: 12rem;
    margin-left: 35px;
    margin-top: 15px;
    padding: 0 3px;
    margin-right: 35px;
  }

 hr {
    margin-left: 15px;
 }

  

 

  .btn-btn {
    background-color: royalblue;
    color: white;
    height: 35px;
    border: none;
    margin-right: 3px;
    margin-top: 4px;
    padding: 2px 13px;
    border-radius: 15px;
  }

  .btn-btn:hover {
    background-color: darkblue;
    cursor: pointer;
  }

.icon {
    margin-left: 17px;
    margin-top: -20px;
    
}

faUser, faCalender, faLocation{
    border: 1px solid black;
}


.detail-wrapper {
    display: flex;
    /* grid-template-rows: repeat(auto-fit); */
    width: 100%;
    height: 200px;
    margin-top: 1rem;
    gap: 2%;
    border-radius: 8px;
  }

  
  
  .detail-card {
    display: flex;
    justify-content: space-around;
    width: 31%;
    height: 40%;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin: -1% 0;
    box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
  }
  
  .detail-img {
    width: 25%;
    background-image: url('../images/travel1.jpg');
    background-size: contain;
    border-radius: 20px;
    padding: 10px;
    height: 60%;
    border-radius: 15px;
    margin-top: 5px;
    
  }
  
  .detail-desc {
    display: flex;
    height: 40%;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    padding: 3% 0%;
    
    width: 100%;
    margin-top: -25px;
    margin-left: 10px;
  }

  .detail-name h4 {
    margin-top: 20px;
    font-size: 12px;
  }
  
  .detail-sub {
    
    font-size: 9px;
    color: rgb(89, 88, 88) ;
    /* letter-spacing: 0.5; */
    /* margin: 5% 0; */
    margin-top: -5px;
  }
  
  .price {
    color: rgb(49, 80, 3);
    font-size: 12px;
  }

  .detail-favourite {
    color: orange;
    margin-top: 20px;
    margin-right: 5px;
  }

  span {
    font-size: 10px;
    margin-top: 21px;
    margin-right: 5px;
  }


  /* offer styling */

  .main-detail {
    /* margin: 1rem 0 1.5rem 0; */
    margin-top: -105px;
  }
  
  .offer-wrapper {
    display: flex;
    height: 270px;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    width: 100%;
    margin-top: -1rem;
    gap: 2%;
    border-radius: 8px;
  }
  
  .offer-card {
    min-height: 200px;
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    margin: 1% 0;
    box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
  }
  
  .offer-img {
    width: 100%;
    height: 130px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    filter:brightness(0.8)
  }

  .offer-name h4 {
    font-size: 16px;
    letter-spacing: 0px;
  }
  
  .offer-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1% 2%;
    width: 100%;
    margin-top: -20px;
  }
  
  .offer-sub {
    font-size: 15px;
    color: rgb(89, 88, 88) ;
    letter-spacing: 0.5;
    margin: -2% 0;
  }
  
  .price {
    color: rgb(49, 80, 3);
    font-size: 15px;
    font-weight: 700;
  }
  
  .offer-favourite {
    font-size: 24px;
    margin-top: 89px;
    margin-right: 45px;
  }
  

  /* smaller screens */
  